.root {
  display: block;
  text-decoration: none;
  color: inherit;

  background-color: transparent;
  border-radius: 4px;
  padding: 0.5em 2em;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s;
}

.outline {
  border: 2px solid currentColor;
  &:hover {
    color: #fff;
    border-color: var(--secondary);
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding-top: 100%;
    background: var(--secondary);
    border-radius: 50%;
    z-index: -1;
    transform: translateY(-50%) scale(0.2);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
  }
  &:hover::before {
    transform: translateY(-50%) scale(2);
    transition: transform 0.3s, opacity 0.1s;
    opacity: 1;
  }
}

.solid {
  border: 2px solid var(--secondary);
  background: var(--secondary);
  transition: color 0.3s;
  &:hover {
    color: #fff;
  }
}
