.root {
  padding-top: min(15vw, 6rem);
  padding-bottom: min(10vw, 3rem);
  text-align: center;
  margin: 0;
  color: var(--darkest);
  & img {
    display: block;
    width: min(50vw, 500px);
    margin: 1rem auto;
    height: auto;
  }
}

.text {
  font-size: 1.75em;
  font-size: clamp(1.3rem, 3vw, 1.75rem);
  font-weight: 200;
  line-height: 1;
}
