.root {
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--neutral);
  font-size: 0.9rem;
  line-height: 1.4;
  border-radius: 0.5rem;
  border: 1px solid var(--devider);
  background: var(--light);
  padding: 1.2rem;
  & > * {
    margin: 0;
  }
  &:hover {
    border-color: var(--secondary);
    & .title {
      color: var(--secondary);
    }
  }
}

.title {
  display: flex;
  align-items: center;
  color: var(--darkest);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1;
  margin-bottom: 0.3em;
}
