.root {
  border-top: 1px solid var(--divider);
  padding: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--neutral);
  & a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}
